body{
   font-family: 'Montserrat', sans-serif;
}

h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;
   line-height: 1.5;
}

h2{

  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

h3{

  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

/* Titles section */

#title{
  background-color: white;
  color: black;
}

.container-fluid{
   padding: 3% 15% 7%;
}




.navbar{

  padding:0 0 4.5rem;
}

.navbar-brand{
   font-family: 'Ubuntu', sans-serif;
   font-size: 2.5rem;
   font-weight: bold;
   color: black;

}

.nav-item{
  padding: 0 18px;
}

.nav-link{
   font-size: 1.2rem;
   font-family: 'Montserrat-Light', sans-serif;
}


/* Download Buttons */

.download-button{
  margin:5% 3% 5% 0;
}


/* title image */

.title-image-div{
  position: relative;
  width: 60%

}

.title-image{
  color: black;
  width: 100%;
  transform: rotate(0deg);
  position: relative;

}


/* Features */

#features{
  background-color: black;
  text-align: center;
  position: relative;

}

.feature-container{
padding: 4%;
}

.feature-icon{
  color: white;
  padding: 10%;
}
.feature-icon:hover{
  color:gray;

}
.feature-list{
  color: white;
}



/* testimonial */

#testimonials{
  text-align: center;
  background-color: white;
  color: black;
}



.carousel-item{
  padding: 7% 15%;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/* press */

#press{
  background-color: white;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/* pricing */

.pricing-text{
  color: white;
}

#pricing{
  background-color: black;
  text-align: center;
  padding: 100px;
}

.pricing-col{
  padding:3% 2%;
}

@media (max-width:1028px){

  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}


/* Call to action  */

#cta{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
  padding: 7% 15%;
}

.cta-p{
  font-size: 3.5rem;
}


/* Footer Section */

#footer{
  padding: 7% 15%;
  text-align: center;
  font-family: 'Montserrat-Light', sans-serif;
  background-color: black;
  font-weight: lighter;
}

.footer-icons{
  padding: 1%;
  color: white;
}
